.card {
  background-color: #fff;
  border-radius: 10px;
}

.card__content {
  display: flex;
  padding: 0 20px 0;
  justify-content: space-between;
  align-items: center;
}

.card__name {
  color: #000;
  font: normal 900 24px/29px "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
}

.card__button-like {
  box-sizing: border-box;
  border: none;
  object-fit: cover;
  background: url(../images/buttons_like.svg) center no-repeat;
  height: 18px;
  width: 24px;
  transition: opacity 0.5s;
}

.card__button-like:hover {
  opacity: 0.5;
}
