.profile {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 40px 0 0;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info {
  display: flex;
  gap: 30px;
}

.profile__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "name edit"
    "caption caption";
  grid-gap: 7px 18px;
  align-content: center;
  align-items: center;
}

.profile__name {
  margin: 0;
  grid-area: name;
  font: normal 500 42px/1.14 "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}

.profile__button {
  box-sizing: border-box;
  border: 2px solid #fff;
  transition: opacity 0.5s, min-width 0.5s;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_type_edit {
  border-width: 1px;
  background: url(../images/buttons_edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: edit;
}

.profile__caption {
  grid-area: caption;
  margin: 0;
  padding: 0;
  font: normal normal 18px/1.22 "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  transition: font-size 0.5s;
}

.profile__button_type_add {
  background: url(../images/buttons_add.svg) center no-repeat;
  height: 50px;
  min-width: 150px;
}

@media screen and (max-width: 775px) {
  .profile__name {
    font-size: 22px;
    max-width: 220px;
  }

  .profile__caption {
    font-size: 14px;
    line-height: 1.21;
    max-width: 282px;
  }

  .profile__button_type_add {
    min-width: 75px;
  }
}

@media screen and (max-width: 631px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 0;
    max-width: 282px;
    justify-content: center;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
  }

  .profile__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 36px;
    gap: 10px;
  }

  .profile__button_type_add {
    width: 100%;
  }

  .profile__button_type_edit {
    width: 18px;
    height: 18px;
  }
}
