.card {
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.card__content {
  display: flex;
  padding: 25px 20px 25px;
  justify-content: space-between;
  align-items: center;
}

.card__button {
  transition: opacity 0.5s;
  box-sizing: border-box;
  border: none;
  object-fit: cover;
  cursor: pointer;
}

.card__button-delete {
  position: absolute;
  background: url(../images/buttons_delete.svg) center no-repeat;
  top: 18px;
  right: 15px;
  height: 18px;
  width: 19px;
}

.card__button-delete:hover {
  opacity: 0.6;
}

.card__image {
  object-fit: cover;
  height: 282px;
  width: 282px;
}

.card__name {
  color: #000;
  font: normal 900 24px/29px "Inter", Arial, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
  margin: 0;
}

.card__button-like {
  background: url(../images/buttons_like.svg) center no-repeat;
  height: 18px;
  width: 24px;
}

.card__button-like:hover {
  opacity: 0.5;
}

.card__button-like_state_active {
  background: url(../images/buttons_like_active.svg) center no-repeat;
}
