.header {
  max-width: 100%;
  padding: 45px 0 41px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

.header__logo {
  max-height: 73px;
  max-width: 173px;
}

@media screen and (max-width: 631px) {
  .header {
    max-height: 56px;
    padding: 35px 0 25px 27px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
  }
}
