.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility linear 0.5s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility linear 0s 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 34px 36px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
  min-width: 430px;
  box-sizing: border-box;
  transition: min-width 0.5s;
}

.modal__button {
  cursor: pointer;
}

.modal__button_type_close {
  box-sizing: border-box;
  height: 56px;
  width: 56px;
  position: absolute;
  top: -48px;
  right: -48px;
  background: url(../images/button_close.svg) center no-repeat;
  border: none;
  padding: 0;
  transition: opacity 0.5s;
}

.modal__button_type_close:hover {
  opacity: 60%;
}

.modal__header {
  margin: 0;
  font: normal 900 24px/1.21 "Inter", Arial, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 30px;
  padding: 48px 0 0;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__input {
  font: normal 400 14px/1.21 "Inter", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  height: 28px;
}

.modal__input_type_error {
  border-bottom-color: #ff0000;
}

.modal__error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font: normal 400 12px/1.21 "Inter", Arial, sans-serif;
  color: #ff0000;
  opacity: 0;
}

.modal__error_active {
  opacity: 1;
}

.modal__button_type_submit {
  font: normal 400 18px/1.21 "Inter", Arial, sans-serif;
  margin: 18px 0 0;
  padding: 14px 125px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  border: #000 1px solid;
  border-radius: 2px;
}

.modal__button_disabled {
  color: rgba(0, 0, 0, 0.2);
  background: none;
  border-color: rgba(0, 0, 0, 0.2);
}

.modal__container-image {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #000;
  position: relative;
  box-sizing: border-box;
}

.modal__image {
  object-fit: contain;
  max-height: 75vh;
  max-width: 75vw;
}

.modal__image-name {
  font: normal 400 12px/1.21 "Inter", Arial, sans-serif;
  color: #fff;
  padding: 10px 0 0;
  margin: 0;
}

@media screen and (max-width: 631px) {
  .modal__container {
    min-width: 282px;
    padding: 25px 22px;
  }

  .modal__button_type_close {
    height: 36px;
    width: 36px;
    right: 0;
    top: -50px;
  }

  .modal__form {
    padding: 75px 0 0;
  }

  .modal__header {
    font-size: 18px;
  }

  .modal__button_type_submit {
    padding: 14px 100px;
    margin: 15px 0 0;
    font-size: 14px;
  }
}
