.page {
  background: #000;
  color: #fff;
  margin: 0 auto;
  max-width: 880px;
  padding: 0 17px 0;
}

.page__content {
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 631px) {
  .page {
    padding: 0;
  }
}
